.logo {
	animation: 1s slide-down backwards;
	width: 70vw;
	font-family: $logo-font;
	padding: 20px;
	float: left;
	text-align: left;
	&__title {
		color: $brand-main;
		&>h3{
			text-transform: uppercase;
			@include font-size($logo-font-sizes);
		}
	}
}
.site-header--fixed .logo__title{
	color: $brand-white;
	padding: 10px;
}

@media (min-width: 750px) {
	.logo {
		padding: 40px;
	} 	
	.site-header--fixed .logo{
		padding: 10px;
		padding-left: 30px;
	}
}
@media (min-width: 1000px) {
	.logo{
		width: auto;
		padding: 0;
		padding-top: 20px;
	}
}

