%button {
	width: 200px;
	height: 20px;
	margin: 20px auto;
	margin-left: calc(50% - 70px);
	padding: 15px 0;
	display: block;
	background-color: transparent;
	color: $brand-white;
	@include font-size($button-font-sizes);
	font-weight: 500;
	letter-spacing: 2px;;
	text-transform: uppercase;
	text-align: center;
	transition: 0.5s;
}

/*
#D53CA1 */