.container {
	display: none;
	position: fixed;
	top: 5vh;
	left: 7vw;
	z-index: 150;
	&__logo {
		@extend %logo;
	}
}
.logo-letter {
	display: none;
	position: fixed;
	top: 5vh;
	left: calc(7vw + 15px);
	@extend %content;
	color: $brand-light-red;
	transition: 0.1s;
	z-index: 200;
}
.container.active .container__logo__content{
	opacity: 0;
}
.active {
	color: white;
	transform: rotate(45deg);
	transition: 0.2s;
}
.active-prelude {
	color: white;
	transform: scale(8);
	transition: 0.2s;
}
@media (min-width: 900px) {
	.container {
		top: calc(50vh - 70px);
		left: calc(50vw - 70px);
		&__logo {
			width: 140px;
			height: 140px;
		}
	}
	.logo-letter {
		top: calc(50% - 55px);
		left: calc(50% - 12px);
	}
}


//.container {
//	display: none;
//	position: fixed;
//	top: calc(50vh - 70px);
//	left: calc(50vw - 70px);
//	z-index: 150;
//}
//.container.active .logo__content{
//	opacity: 0;
//}
//.logo {
//	@extend %logo;
//	&__content {
//		@extend %content;
//		color: $brand-green;
//		transition: 0.1s;
//	}
//}
//.active {
//	color: white;
//	transform: scale(8);
//	transition: 0.2s;
//}
