
@font-face {
  font-family: 'SEGOEUIL';
  src: url('../font/SEGOEUIL.eot');
  src: local('SEGOEUIL'), url('../font/SEGOEUIL.woff') format('woff'), url('../font/SEGOEUIL.ttf') format('truetype');
}
@font-face {
  font-family: 'mmrtext';
  src: url('../font/mmrtext.ttf') format('truetype');
}
$base-font: 'Forum', cursive;;
$logo-font: 'Source Sans Pro', sans-serif;
$home-font: 'Source Sans Pro', sans-serif;
$breakpoints: (
  'small': 550px,
  'medium': 750px,
  'large': 1000px,
);
$h1-font-sizes: (
  'null'  : 4.5em,
  'small': 2.5em,
  'medium': 2.7em,
  'large': 4.5em
);
$h2-font-sizes: (
  'null'  : 2em,
  'small' : 2em,
  'medium': 2.6em,
  'large' : 4.2em
);
$h3-font-sizes: (
  'null'  : 1.8em,
  'small' : 1.8em,
  'medium': 4.5em,
);
$h4-font-sizes: (
  'null'  : 1.3em,
  'small' : 1.4em,
  'medium': 10em,
);
$h5-font-sizes: (
  'null'  : 1.3em,
  'small' : 1.4em,
  'medium': 6em,
);
$border-font-sizes: (
  'null'  : 1.3em,
  'small' : 1.4em,
  'medium': 1.6em,
);
$logo-font-sizes: (
  'null'  : 2em,
  'large' : 7em,
);
$value-font-sizes: (
  'null' : 0.8em,
  'large' : 1.1em,
);
$menu-font-sizes: (
  'null'  : 1.1em,
  'medium': 1.4em,
  'large' : 2.5em,
);
$description-font-sizes: (
  'null' : 1em,
  'small': 1.2em,
  'medium' : 1.5em,
);
$button-font-sizes: (
  'large' : 1.2em,
);


$brand-red: #bf0000;
$brand-dark-gray: #363636;
$brand-white: #fff;
$brand-black: #000;
$brand-gray: #9d9d8f;
$brand-light-green: #3acd0f;
$brand-green: #37b30e;
$brand-sand: #FCEF62;
$brand-light-sand: #FAEE99;