.about {
	overflow: hidden;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	&__description {
		@extend %description;
		background-color: $brand-dark-gray;
		&__title {
			@extend %header;
			&::before {
				@extend %header::before;
			}
			&::after {
				@extend %header::after;
			}
		}
		&__informations {
			@extend %informations;
			padding-top: 80px;
			line-height: 220%;
		}
		&__button {
			@extend %button;
			width: 160px;
			margin-top: 0;
			position: relative;
			color: $brand-white;
			font-weight: 600;
			letter-spacing: 1px;
			z-index: 500;
			&:hover {
				color: $brand-dark-gray;
				background-color: $brand-light-sand;
			}
		}
	}
	&__photo {
		max-width: 415px;
		margin: 0 auto;
		margin-top: -60vh;
		position: relative;
		z-index: 20;
		opacity: 0.4;
		@extend %photo;
		background-color: transparent;
		&>img {
			animation: 2s slide-up backwards;
			width: 100%;
		}
	}
}
@media (min-width: 550px) {
	.about {
		&__description {
			&__informations {
				max-width: 500px;
			}
		}
	}
}
@media (min-width: 550px) and (max-width: 900px) and (orientation: landscape) {
	.about {
		&__description {
			padding-top: 50px;
			font-size: 3em;
			&__informations {
				font-size: 1em;
			}
		}
	}
}
@media (min-width: 900px) {
	.about {
		&__description {
			width: 50vw;
			padding-top: calc(30vh - 67px);
			float: left;
			&__informations {
				max-width: 385px;
				padding-right: 90px;
				padding-top: 10vh;
				padding-bottom: 10px;
			}
		}
		&__photo {
			opacity: 1;
			width: 50vw;
			max-width: 2000px;
			margin: 0;
			padding-left: 60px;
			padding-right: 20px;
			display: inline-block;
			background-color: $brand-light-sand;
			&>img {
				max-width: 500px;
<<<<<<< HEAD
				width: 90%;
=======
				width: 100%;
				position: absolute;
				bottom: 0;
				left: calc(25% - 100px);
>>>>>>> f6d42aacd27485797f78048e09e8b4b9e0866aac
				margin-top: 70px;
				position: absolute;
				bottom: 0;
				left: calc(25vw - 180px);
			}
		}
	}
}
@media (min-width: 1000px) {
	.about {
		&__description {
			&__informations {
				padding-right: 50px;
			}
		}
	}
}
@media (min-width: 1200px) {
	.about {
		&__description {
			&__informations {
				//padding-top: 70px;
			}
		}
		&__photo {
			&>img {
<<<<<<< HEAD
				//left: 25%;			
=======
				left: 25%;
>>>>>>> f6d42aacd27485797f78048e09e8b4b9e0866aac
			}
		}
	}
}
@media (min-width: 1400px) {
	.about {
		&__description {
			&__button {
				margin-top: 50px;
			}
		}
		&__photo {
			&>img {
				max-width: 800px;
				left: calc(25vw - 300px);
			}
		}
	}
}