.contact {
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background-color: $brand-light-blue;
	color: $brand-white;
	text-align: center;
	&__container {
		margin-top: 20vh;
			&__title {
				position: relative;
				@extend %header;
				@include font-size($h5-font-sizes);			
				&::before {
					@extend %header::before;
				}
				&::after {
					@extend %header::after;
				}
			}
		}
	&__description {
		@extend %informations;
		padding-top: 7vh;
		padding-bottom: 5vh;
	}
	&__number {
		padding-bottom: 20px;
		@include font-size($number-font-sizes);
	}
	&__mail {
		padding-bottom: 10vh;
		@include font-size($mail-font-sizes);
		letter-spacing: 1px;
	}
	&__social {
		text-align: center;
		&__icons {
			display: inline-block;
			font-size: 3em;
			padding:  0 5px;
			&__link {
				color: $brand-white;
				transition: 0.5s;
				&:hover {
					color: $brand-light-red;
				}
			}
		}
	}
	&__copyright {
		@include font-size($copyright-font-sizes);
		padding-top: 12vh;
	}	
}
@media (min-width: 550px) {
	.contact {
		&__description {
			max-width: 500px;
			padding-top: 10vh;
		}
	}
}
@media (min-width: 550px) and (max-width: 900px) and (orientation: landscape) {
	.contact {
		&__description {
			padding-top: 5vh;
			font-size: 0.8em;
		}
		&__number {
			font-size: 1.4em;
			padding-bottom: 5vh;
		}
		&__mail {
			font-size: 1.2em;
			padding-bottom: 5vh;
		}
		&__social {
			&__icons {
				font-size: 1.5em;
			}
		}
		&__copyright {
			padding-top: 9vh;
		}
	}
}
@media (min-width: 750px) and (max-width: 900px) and (orientation: landscape) {
	.contact {
		&__description {
			font-size: 1em;
			padding-top: 8vh
		}
		&__number {
			font-size: 1.7em;
		}
		&__mail {
			font-size: 1.4em;
			padding-bottom: 10vh;
		}
		&__social {
			font-size: 2em;
		}
	}
}

@media (min-width: 900px) {
	.contact {
		&__container {
			margin-top: calc(30vh - 90px);
		}
		&__description {
			width: 50vw;
			height: 50vh;
			padding-top: 15vh;
			padding-left: 120px;
			padding-right: 170px;
			float: left;
		}
		&__number {
			display: inline-block;
			width: 50vw;
			box-sizing: border-box;
			padding-top: 14vh;
			padding-bottom: 40px;
			padding-left: 50px;
		}
		&__mail {
			display: inline-block;
			box-sizing: border-box;
			padding-left: 50px;
		}
		&__social {
			position: absolute;
			top: 74vh;
			left: calc(50% - 74px);
		}
		&__copyright {
			text-align: center;
			padding-top: 20vh;
		}
	}
}
@media (min-width: 1000px) {
	.contact {
		&__description {
			padding-right: 120px;
		}
		&__number {
			//padding-left: calc(50% - 450px);
		}
	}
}
@media (min-width: 1200px) {
	.contact {
		&__description {
			max-width: 2000px;
			margin: 0 auto;
			//padding-top: 10vh;
			padding-right: calc(25vw - 180px);
 			padding-left: calc(25vw - 180px);
		}
	}
}
@media (min-width: 1350px) {
	.contact {
		&__description {
			max-width: 2000px;
			margin: 0 auto;
			padding-right: calc(25vw - 180px);
			padding-left: calc(25vw - 180px);
		}
		&__number {
			display: inline-block;
			width: 50vw;
			box-sizing: border-box;
			padding-top: 14vh;
			padding-bottom: 40px;
			padding-left: calc(50% - 660px);
		}
		&__mail {
			display: inline-block;
			box-sizing: border-box;
			padding-left: calc(50% - 650px);
		}
	}
}
@media (min-width: 1350px) {
	.contact {
		&__number {
			display: inline-block;
			width: 50vw;
			box-sizing: border-box;
			padding-top: 14vh;
			padding-bottom: 40px;
			padding-left: calc(25vw - 300px);
			padding-right: calc(25vw - 300px);
		}
		&__mail {
			display: inline-block;
			box-sizing: border-box;
			padding-left: calc(25vw - 300px);
			padding-right: calc(25vw - 300px);
		}
  	}
 }