.projects-prelude {
	height: 100vh;
	width: 100%;
	background-color: $brand-green;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	&__title {
		padding: 20%;
		position: relative;
		color: $brand-white;
		@include font-size($h4-font-sizes);
		font-weight: 100;
		letter-spacing: -10px;
		text-transform: uppercase;
		&::before {
			@extend %header::before;
			height: 6px;
			top: 30%;
		}
		&::after {
			@extend %header::after;
			height: 6px;
			bottom: 30%;
		}
	}
}

.project-1 {
	overflow: hidden;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
		&__description {
		@extend %description;
		background-color: $brand-green;
		&__title {
			@extend %header;
			&::before {
				@extend %header::before;
			}
			&::after {
				@extend %header::after;
			}
		}
			&__informations {
				@extend %informations;
			}
		}
		&__photo {
			width: 50%;
			height: 100%;
			display: inline-block;
			background-color: $brand-dark-gray;
			text-align: center;
			&>img {
				width: 45%;
				padding-top: 13%;
				padding-left: 60px;
			}
			&__button {
				@extend %button;
				color: $brand-green;
				&:hover {
					background-color: $brand-green;
					color: $brand-white;
				}
			}
		}
}

.project-2 {
	overflow: hidden;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
		&__description {
			@extend %description;
			background-color: $brand-red;
		&__title {
			@extend %header;
			&::before {
				@extend %header::before;
			}
			&::after {
				@extend %header::after;
			}
		}
			&__informations {
				@extend %informations;
			}
		}
		&__photo {
			width: 50%;
			height: 100%;
			display: inline-block;
			background-color: $brand-gray;
			text-align: center;
			&>img {
				width: 45%;
				padding-top: 13%;
				padding-left: 60px;
			}
			&__button {
				@extend %button;
				color: $brand-red;
				&:hover {
					background-color: $brand-red;
					color: $brand-white;
				}
			}
		}
}

.project-3 {
	overflow: hidden;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
		&__description {
			@extend %description;
			background-color: $brand-dark-gray;
		&__title {
			@extend %header;
			&::before {
				@extend %header::before;
			}
			&::after {
				@extend %header::after;
			}
		}
			&__informations {
				@extend %informations;
			}
		}
		&__photo {
			width: 50%;
			height: 100%;
			display: inline-block;
			background-color: $brand-light-sand;
			text-align: center;
			&>img {
				width: 45%;
				padding-top: 13%;
				padding-left: 60px;
			}
			&__button {
				@extend %button;
				color: $brand-dark-gray;
				&:hover {
					background-color: $brand-dark-gray;
					color: $brand-white;
				}
			}
		}
}

.project-4 {
	overflow: hidden;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
		&__description {
			@extend %description;
			background-color: $brand-gray;
		&__title {
			@extend %header;
			&::before {
				@extend %header::before;
			}
			&::after {
				@extend %header::after;
			}
		}
			&__informations {
				@extend %informations;
			}
		}
		&__photo {
			width: 50%;
			height: 100%;
			display: inline-block;
			background-color: $brand-red;
			text-align: center;
			&>img {
				width: 45%;
				padding-top: 13%;
				padding-left: 60px;
			}
			&__button {
				@extend %button;
				color: $brand-gray;
				&:hover {
					background-color: $brand-gray;
					color: $brand-white;
				}
			}
		}
}